# Build artifacts
build/
sdkconfig
sdkconfig.old
bootloader/
partitions_singleapp.bin
partitions_two_ota.bin


# VS Code specific files
.vscode/
.history/

# ESP-IDF component registry downloads
components/*/build/
components/*/sdkconfig
components/*/sdkconfig.old

# Other common temporary files
*.pyc
*.o
*.d
*.elf
*.map
*.obj
*.su
*.bak
*.swp
*~
# Logs
*.log

# Ignore secrets directory
main/secrets/

# BUT allow release artifacts to be committed
!release/